<div class="layout">
    <header>
        <div class="container">
            <div class="header_titles_block">
                <p class="header_title">SIMPLE TASK BOARD</p>
                <p class="project_title">
                    <span class="current_project">current project: </span>
                    <span class="project_name">{{projectName}}</span>
                </p>
            </div>
        </div>
    </header>
    <div class="container content_container">
        <nav>
            <ul>
                <li>Проекты</li>
                <li>Все задачи</li>
                <li>Доска</li>
            </ul>
        </nav>
        <main>
            main
        </main>
        <aside>
            aside
        </aside>
    </div>
    <footer>
        <p class="footer_title">Copyright 2022</p>
    </footer>
</div>